.main_women_tri{
    width: 90vw;
    margin: auto;
    margin-top: 3%;
}
.render_data_women{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 100%;
    margin: auto;
}
.product_img-tri{
  width: 100%;

}
.subDivProduct{
    display: flex;
    justify-content: space-around;
}